# requirements.txt
# Pamatbibliotēkas
Flask==2.3.3
Flask-SocketIO==5.3.4
python-socketio==5.8.0
python-engineio==4.5.1
Werkzeug==2.3.7
gunicorn==21.2.0
eventlet==0.33.3

# Vides mainīgo apstrāde
python-dotenv==1.0.0

# HTTP pieprasījumiem
requests==2.31.0

# Reģistrēšana un veiktspēja
gevent==23.9.1
gevent-websocket==0.10.1

# Teksta apstrāde
regex==2023.8.8
